TODO
.envTemplate
.env
.idea/
spec.pdf
profit_optimizer.egg-info/

# Ignore Python cache files
__pycache__/
*/__pycache__/
*.pyc
*.pyo

# Ignore log files
*.log

# Ignore virtual environments
venv/
env/
.venv/
.venv
